* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  appearance: none;
  border: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--p-color-bg);
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}